html,
body {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 95%;
  max-width: 76em;
  margin: 0 auto;
  outline: 1px solid #666;
}
.row {
  margin: 0 -0.9%;
}
.row:after {
  display: block;
  content: " ";
  clear: both;
  height: 0;
}
.row-quarter > * {
  width: 25%;
  padding: 0 0.9% 1.375em;
}
.row-tria > * {
  width: 33.33333%;
}
.col {
  float: left;
  min-height: 100px;
  outline: 1px solid #666;
  box-sizing: border-box;
}

.subcategory-header {
  width: 20%;
}
.subcategory-content {
  width: 80%;
}
.subcategory-featured {
  width: 50%;
}

.story {
  padding: 0.6875em;
  background: #eee;
}
.story img {
  width: 100%;
}
