html,
body {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 95%;
  max-width: 76em;
  margin: 0 auto;
  outline: 1px solid #666;
}
.row {
  margin: 0 -0.9%;
}
.row:after {
  display: block;
  content: " ";
  clear: both;
  height: 0;
}
.row-quarter > * {
  width: 25%;
  /* padding: 0 0.9% 1.375em; */
}
.row-trio > * {
  width: 33.33333%;
}
.col {
  float: left;
  min-height: 100px;
  outline: 1px solid #666;
  box-sizing: border-box;
}

.subcategory-header {
  width: 20%;
}
.subcategory-content {
  width: 80%;
}
.subcategory-featured {
  width: 50%;
}

.story {
  padding: 0.6875em;
  background: #eee;
}
.story img {
  width: 100%;
}

.masthead {
  background: #8e3339;
}

.masthead h1 {
  padding: 0.5em 0;
  color: #fff;
}
.navbar {
  background: #5e2126;
  margin-bottom: 1.375em;
}

.navbar ul {
  list-style: none;
  background: #752a2f;
  overflow: hidden;
  display: flex;
}

/* .navbar::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
} */
.navbar li {
  /* float: left;
  width: 25%;
  background: #000; */
  border-right: 1px solid #8e3339;
  box-sizing: border-box;
  text-align: center;

  flex: 1;
  text-transform: uppercase;
}

.navbar li:last-child {
  border-right: none;
}

.navbar li a {
  display: block;
  text-decoration: none;
  line-height: 1.75em;
  padding: 1em 2em;
  color: #fff;
}
