html,
body {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 95%;
  max-width: 76em;
  margin: 0 auto;
  outline: 1px solid #ccc;
}
.row {
  margin: 0 -8px;
}
.row:after {
  display: block;
  content: " ";
  clear: both;
  height: 0;
}

.col {
  float: left;
  min-height: 100px;
  outline: 1px solid #333;
  box-sizing: border-box;
  padding: 0 8px;
}

.subcategory-header {
  width: 20%;
}
.subcategory-content {
  width: 80%;
}
